<!doctype html>
<html>
<head>
    <title>Bernie Comments</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fly_as_hell.css">
</head>

<body>
    <div class="text-div" style="height: 75%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: transparent;">
    <i><h1 id="comment">"{{ comment }}"</h1></i>
    <br style="padding-top: .5em">
    <button id="copy-btn" style="margin: .3em;" data-clipboard-text='{{ comment }}'>Copy</button> <button id="new-comment">Generate New Comment</button>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js"></script>
<script>
    
    new Clipboard("#copy-btn");



    function replaceComment(results) {
            $("#comment").text('"' + results + '"');
            $("#copy-btn").attr("data-clipboard-text", results);
          }

    $("#new-comment").on('click', function() {

        $.get("/new-comment", replaceComment);

    });

</script>
</html>