<!doctype html>
<html>
<head>
    <title>Bernie Comments</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fly_as_hell.css">
</head>

<body>
    <div class="text-div" style="height: 75%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: transparent;">
    <h1>Calling all Bernie Bros.</h1>
    <br style="padding-top: .5em">
    <button style="margin: .3em;"><a href="/comments">Fulfill Your Patriotic Duty</a></button>
</body>
</html>